# twitter data
biotexcorpus/
biotexResults
echen102_COVID19-TweetIDs
hydrating-and-extracting
randomSampling_hydrating-and-extracting
extractedTweetsWithoutPreprocess
tfidfpython
dataset-analyse.csv

# Runs
numberOfTweetsPerDayPeriod3.png
numberOfTweetsPerDay.png
trash
COVID19_echen_geo_data.json

# Biotex temp files
configuration.txt

# fastr
fastr/driven_extraction_version_*
fastr/input/*

# venv Python
venv

# logs
*.log

# IDE 
.idea

# HIICS backlog
hiics

# elasticsearch : export of twitter data 
elasticsearch/analyse/*.csv
elasticsearch/analyse/*.html
elasticsearch/analyse/elastic*

# libreoffice swp
*.swp
.~lock*
